* {
  margin: 0px;
  font-family: "Work Sans", sans-serif;
}

/* **banner section** */

.banner {
  text-align: right;

  background-image: url(/images/banner/banner3.png);
  height: 808.0000000000031px;
  width: 1600.0001220703186px;
  left: 1600.0001220703125px;
  top: 808.0001220703125px;
  border-radius: 0px;
  background-repeat: no-repeat;
}

.btn-primary {
  height: 64px;
  width: 160px;
  margin-right: 230px;
  border: 0px;
  border-radius: 5px;
  margin-top: 30px;
  color: #005fac;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  background: #ffffff;
}

.banner-title {
  width: 525px;
  height: 228px;
  margin-left: 845px;
  margin-right: 230px;
  margin-top: 216px;

  font-weight: 700;
  font-size: 65px;
  line-height: 76px;
  text-align: right;
  color: #ffffff;
}

.banner-passage {
  height: 78px;
  width: 494px;
  margin-left: 876px;
  margin-top: 20px;

  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: right;
  color: #ffffff;
}
/* body-part-2 */

.person-woman {
}
.text-group {
  margin-top: 370px;
}

.tittle-body {
  width: 288px;
  height: 94px;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #151414;
  margin-bottom: 20px;
}

.description-body {
  font-weight: 400;
  font-size: 16px;
  width: 416px;
  height: 104px;
}

ul {
  list-style: none;
}

ul li:before {
  content: "✓";
  color: #16d887;
}
.list-body {
  list-style: none;

  width: 416px;
  height: 104px;
}
.body-part {
  display: flex;
  width: 1072px;
  height: 720px;
  margin-left: 206px;
  margin-top: 131px;
  margin-bottom: 125px;
}

/* **My Plans** */

.My-Plans {
  margin-left: 230px;
  margin-right: 217px;
  width: 1153px;
}

.icon {
  margin-left: 100px;
}

.skills-container {
  display: flex;
  width: 1153px;
  height: 226px;
  margin-bottom: 107px;
}

.skill-tittle {
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  text-align: center;

  color: #151414;
}

.skill-description {
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  text-align: center;
  color: #737272;
}

.section-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;

  text-align: center;

  color: #151414;

  margin-top: 25px;
  margin-bottom: 50px;
}

.skill {
  width: 1153px;
  height: 226px;
  left: 230px;
  top: 1889px;
}

/* *botton banner-watch* */
.btn-banner {
  background-image: linear-gradient(90deg, #005fac 0%, rgba(0, 95, 172, 0) 100%),
    url(/images/watch.png);

  height: 300px;
  width: 1140px;
  left: 230px;
  top: 2222px;
  border-radius: 8px;
  text-align: left;
  margin-left: 20px;
}

.banner-text {
  margin-left: 37px;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  width: 488px;
  height: 188px;
  left: 267px;
  color: #ffffff;
}
